<!DOCTYPE html>

<html>

<head>
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">

 <title>Table layout</title>



</head>

<body>


  <div class="filter">

 </div>

 <table >

 

 <tr>


 

 <th>Name</th>

 <th>coins</th>

 <th>Max_health</th>

 <th>Health_after_game</th>

 <th>Level</th>

 </tr>


  <tr>
  {% for i in save %}
 

 <td>{{i.name}}</td>

 <td>{{i.coins}}</td>

 <td>{{i.max_health}}</td>

 <td>{{i.cur_health}}</td>

 <td>{{i.level}}</td>
{% endfor %}
 </tr>
 


 </tr>

 </table>


 </body>

</html>