<!DOCTYPE html>

<html>

<head>
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}">

 <title>Table layout</title>



</head>

<body>


  <div class="filter">

 </div>

 <table >

 

 <tr>


 <th>#</th>
  
 <th>Name</th>

 <th>coins</th>

 <th>Max_health</th>

 <th>Health_after_game</th>

 <th>level</th>


 </tr>

 {% for i in save %}
  <tr>
 
 

 <td>{{i.id}}</td>

 <td>{{i.name}}</td>

 <td>{{i.coins}}</td>

 <td>{{i.max_health}}</td>

 <td>{{i.cur_health}}</td>

 <td>{{i.max_level}}</td> 

 </tr>
 {% endfor %}
 


 </tr>

 </table>


 </body>

</html>